<section>
    <div class="p-3 mb-2 bg-dark text-white">
        <header>
            <h2 id="Referencias">Referencias</h2>
        </header>

        <a href="https://www.w3schools.com/tags/ref_httpmethods.asp"> [1] https://www.w3schools.com/tags/ref_httpmethods.asp</a>

        <br>
        <a href="https://en.wikiversity.org/wiki/25_Essential_PHP_Functions">[2]https://en.wikiversity.org/wiki/25_Essential_PHP_Functions</a>
        <br>


        <a href=" https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)">[3] https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)</a>

        <a href="https://www.welivesecurity.com/la-es/2015/04/29/vulnerabilidad-xss-cross-site-scripting-sitios-web/">
            [4]https://www.welivesecurity.com/la-es/2015/04/29/vulnerabilidad-xss-cross-site-scripting-sitios-web/</a>



        <hr>
    </div>
</section>

<div class="p-3 mb-2 bg-success text-white">
    <footer id="AboutMe">
        <p> Ivan R Ramirez Ramirez</p>
        <p>Correo : a1702242@itesm.mx </p>
        <p> Utilicé el editor de <strong>Brackets</strong> </p>
        <p> Liga de descarga: <a href="http://brackets.io">Brackets.</a> </p>
    </footer>
</div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
