 <section class="jumbotron-fluid  p-3 services_Background programas" id="Programas">
        <div class="row text-center  flex-column flex-md-row justify-content-around p-0 mr-0">


            <div class="col-12 col-md-2 my-2 my-md-0 item-service">

                <button onclick="act1()">Probar programa 1</button>

            </div>

            <div class="col-12 col-md-2 my-2 my-md-0 item-service ">

                <button onclick="act2()">Probar programa 2</button>

            </div>
            <div class="col-12 col-md-2 my-2 my-md-0 item-service">

                <button onclick="act3()">Probar programa 3</button>

            </div>
            <div class="col-12 col-md-2 my-2 my-md-0 item-service">

                <button onclick="act4()">Probar programa 4</button>

            </div>
            <div class="col-12 col-md-2  my-2 my-md-0 item-service">

                <button onclick="act5()">Probar programa 5</button>

            </div>
            <div class="col-12 col-md-2  my-2 my-md-0 item-service">

                <button onclick="act6()">Probar programa 6</button>

            </div>

        </div>
    </section>