 <section id="Preguntas">
        <div class="p-3 mb-2 bg-light text-dark">
            <header>
                <h2>Preguntas a responder</h2>
            </header>
            <p> <strong>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</strong></p>
            <p><i>La funcion phpinfo(), nos muestra información, sobre el sistema operativo que se esta utilizando, el servidor apache y version con la cual se esta trabajando y toda la información sobre PHP[1]</i></p>

            
            <p> <strong>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</strong></p>
            <p><i>Me tendría que asegurar que la configuración permita el uso de otros elementos para poder realizar el desarrollo (como sql, por ejemplo).[2]</i></p>

            <p> <strong>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</strong></p>
            <p><i>Esto se logra por medio de http requests, donde el archivo hace requests al servidor externo de tal manera que éste regresa código html para que este pueda ser ejecutado por el navegador.[3]</i></p>


            
          
            

        </div>
    </section>