<section class="jumbotron-fluid  p-3 services_Background programas" id="Programas">
    <div class="row text-center  flex-column flex-md-row justify-content-around p-0 mr-0">

        <div class="container">
            <section class="content">

                <h3>Promedio Mediana Acendente y Decendente</h3>
                <div class="container p-3 mb-2 bg-dark text-white ">
                    <form action=" index.php" method="post">
                        <span>Numero 1 </span>
                        <input type="number" class=" form-control input-sm  col-sm-1 " name="funcion1" value="0" min="0"> <br>
                        <span>Numero 2 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="funcion2" value="0" min="0"> <br>
                        <span>Numero 3 </span>
                        <input type="number" class="form-control input-sm  col-sm-1 " name="funcion3" value="0" min="0"> <br>
                        <span>Numero 4 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="funcion4" value="0" min="0"> <br>
                        <span>Numero 5 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="funcion5" value="0" min="0"> <br>


                        <h3>Crear una tabla con numero Cuadrado y Cubo</h3>
                        <span class="izq">Introduce un numero </span>
                        <input type="number" name="funcion6" value="0" min="0" class="form-control input-sm  col-sm-1"> <br>
                        <div>
                            <button type="submit" name="button" class="btn-primary"> Resultados</button>

                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
