<section id="Preguntas">
    <div class="p-3 mb-2 bg-light text-dark">
        <header>
            <h2>Preguntas a responder</h2>
        </header>
        <p> <strong>¿Por qué es una buena práctica separar el controlador de la vista?</strong></p>
        <p><i>Hace mas legible el codigo para los programadores</i></p>


        <p> <strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</strong></p>
        <p><i>PUT: se utiliza para enviar datos a un servidor para crear / actualizar un recurso. <br>$_SESSION: Contiene variables de entorno pasadas al script <br>DELETE: borra el recurso especificado. </i></p>

        <p> <strong>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</strong></p>
        <p><i>strstr(string cadena,string subcadena) sirve para buscar una cadena dentro de otra cadena, util para buscar patrones en textos <br>str_split():Divide una cadena en un arreglo. </i></p>






    </div>
</section>
